.idea
debian/tmp
debian/files
debian/debhelper-build-stamp
.debhelper
/**/.idea
/**/cmake-build-debug
/**/cmake-build-debug/*
**/.idea
**/cmake-build-debug
**/cmake-build-debug/*
cmake-build-debug
cmake-build-debug/
*.o
*.out
/uclient/.idea/
/*/.idea/
