[submodule "libubox"]
	path = libubox
	url = https://git.openwrt.org/project/libubox.git
[submodule "ubus"]
	path = ubus
	url = https://git.openwrt.org/project/ubus.git
[submodule "uci"]
	path = uci
	url = https://git.openwrt.org/project/uci.git
[submodule "uhttpd"]
	path = uhttpd
	url = https://git.openwrt.org/project/uhttpd.git
[submodule "ustream-ssl"]
	path = ustream-ssl
	url = https://git.openwrt.org/project/ustream-ssl.git

[submodule "rpcd"]
	path = rpcd
	url = https://git.openwrt.org/project/rpcd.git
[submodule "luci"]
	path = luci
	url = https://github.com/openwrt/luci.git
[submodule "iwinfo"]
	path = iwinfo
	url = https://git.openwrt.org/project/iwinfo.git
[submodule "jsonpath"]
	path = jsonpath
	url = https://git.openwrt.org/project/jsonpath.git
[submodule "mountd"]
	path = mountd
	url = https://git.openwrt.org/project/mountd.git
[submodule "netifd"]
	path = netifd
	url = https://git.openwrt.org/project/netifd.git
