Source: openwrt
Section: net
Priority: optional
Maintainer: Sergey Ponomarev <stokito@gmail.com>
Build-Depends: debhelper (>= 11), cmake, lua5.1, liblua5.1-0-dev, libjson-c-dev
Standards-Version: 4.1.3
Homepage: https://openwrt.org/
Vcs-Browser: https://github.com/stokito/openwrt-ubuntu
Vcs-Git: https://github.com/stokito/openwrt-ubuntu.git

# https://git.openwrt.org/project/ubox.git
# https://openwrt.org/docs/techref/libubox
Package: libubox
Architecture: any
Depends: libjson-c-dev,
         ${misc:Depends}
Description: OpenWrt core utilities.
 It's one of the core libraries used within openwrt because
 it's a set of utilities, mostly wrappers, that are present
 usually in programs and that have been coded in a flexible
 and reusable way to avoid wasting time.

# https://openwrt.org/docs/techref/ubus
Package: ubus
Architecture: any
Depends: libubox (= ${source:Version}),
         liblua5.1-0-dev
Description: OpenWrt micro bus architecture

# https://openwrt.org/docs/techref/uci
Package: uci
Architecture: any
Depends: libubox (= ${source:Version}),
         liblua5.1-0-dev
Description: uci

Package: ustream-ssl
Architecture: any
Depends: libubox (= ${source:Version}),
         openssl,
         ${misc:Depends}
Description: ustream-ssl
 Wrapper library on top of the actual SSL library
 (mbedtls, cyassl, openssl).

# https://openwrt.org/docs/guide-user/services/webserver/uhttpd
Package: uhttpd
Architecture: any
Depends: libubox (= ${source:Version}),
         ustream-ssl (= ${source:Version}),
         openssl,
         ${misc:Depends}
Description: uHTTPd Web Server
  uHTTPd is a web server written from scratch by OpenWrt
  developers. It is aimed towards being an efficient and
  stable server, suitable for lightweight tasks.

Package: rpcd
Architecture: any
Depends: libubox (= ${source:Version})
Description: rpcd

Package: jsonpath
Architecture: any
Depends: libubox (= ${source:Version})
Description: jsonpath
